<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <button mat-button routerLink="/">{{title}}</button>
      <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-menu-item routerLink="/leaves/" *ngIf="isAuthenticated">
      <mat-icon>book</mat-icon>
        Leaves
      </button>
      <button mat-menu-item *ngIf="isAuthenticated">
      <a href="https://afexleaveapp.herokuapp.com/admin/" target="_blank"><mat-icon>settings</mat-icon>
      Admin
        </a>
    </button>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu" >
  <button mat-menu-item routerLink="/" *ngIf="isAuthenticated">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/hostels" *ngIf="isAdmin">
    <mat-icon>home</mat-icon>
    Management
  </button>
  <button mat-menu-item *ngIf="isAuthenticated">
      <a href="https://afexleaveapp.herokuapp.com/admin/" target="_blank"><mat-icon>settings</mat-icon>
      Admin
        </a>
    </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item  (click)="logout()" *ngIf="isAuthenticated">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
